* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    color: bisque;
}

.wrapper {
    display: grid;
    grid-template-rows: 3rem 1fr;
    height: 100vh;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

h1 {
    margin: 0;
}

.quiz-main {
    background-color: cadetblue;
    display: grid;
    grid-template-rows: 1fr 3rem;
    margin-top: 2rem;

}

label {
    display: block;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: #fe906e;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(50, 48, 48);
}

label input {
    margin-right: 1rem;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 1rem;
}

button {
    background-color: #fe906e;
    border: none;
    border-radius: 2rem;
    margin: 0.5rem;
    width: 60%;
    justify-self: center;
    font-weight: 700;
    color: rgb(50, 48, 48);
}

.answerOptions {
    margin: 1rem;
    font-size: 1.2rem;   
}



