body {
    background-color: rgb(50, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bisque;
}

header {
    margin: 20px;
    background-color: cadetblue;
    height: 20px;
    text-align: center;
}

main {
    margin: 20px;
    background-color: cadetblue;
    height: 150px;
    text-align: center;
}

